@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--color);
}
