@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: aliceblue;
}

/* Header */
header {
  background-color: #ffebd6;
  height: 40px;
  width: 100%;
  position: fixed;
}
.navbar_container {
  display: flex;
  height: 100%;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* logo */
#logo {
  margin-left: 30px;
  text-decoration: none;
  color: #b64a47;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #302c21;
}

/* Main Menu */

/* Hero */
.hero-container {
  background-image: url(https://wallpapercave.com/wp/wp9790515.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding-top: 40px;
}
.hero-container .hero-text-container {
  width: 50%;
  height: 100%;
  padding: 50px 10px 50px 10px;
  text-align: left;
}

.hero-heading {
  font-size: 2em;
  text-align: left;
  color: #ffffff;
  padding: 30px;
}

.hero-text {
  text-align: center;
  margin-top: 250px;
  padding: 0 30px;
  color: #ffffff;
}

/* aboutme */
.aboutme {
  background: hsl(0, 0%, 100%);
  padding: 45px 20px;
  width: 100%;
  display: flex;
}

.aboutme .abtme-txt-container {
  width: 60%;
}

.abtme-p {
  text-align: justify;
  padding-right: 20px;
}

.abtme-skills {
  margin-top: 20px;
}

.aboutme li {
  list-style: none;
  display: inline;
}

/* aboutme img */
#abtme-img {
  width: 40%;
  display: inline;
}

/* Projects */
.projects {
  padding: 20px;
  text-align: justify;
  line-height: 1.1em;
}

.projects .projects-heading {
  margin-bottom: 20px;
}

.projects .projects-img img{
  width: 40%;
  margin-bottom: 20px;
}

#filipino-img {
  width: 80%;
}

/* Footer */
footer {
  margin-top: 20px;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}
